$color-brand-primary:    #DD8266;
$color-brand-secondary:  #841947;
$color-brand-tertiary:   #280327;

$color-light:            #FDF4D6;
$color-dark:             #280327;

$color-default:          $color-brand-primary;
$color-success:          #66BB6A;
$color-info:             #42A5F5;
$color-warning:          #FFA726;
$color-danger:           #EF5350;
