::selection {
    background:    $color-brand-primary;
}
::-moz-selection {
    background:    $color-brand-primary;
}

* {
    font-size:     $font-size-base;
    line-height:   $line-height-base;

    @include breakpoint('sm') {
        font-size:           $font-size-base - 4px;
        line-height:         $line-height-base;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
table,
blockquote,
pre {
    margin-bottom: 1.25rem;
}

h1 {

}

p {
    line-height: $line-height-base;
    margin:      0 0 $line-height-base;
}
